<h1>Blog: Make your ideas known</h1>

<div class="py-3">
    <%= form_with(url: "", method: :get, remote: true, class: "form-inline") do %>
        <%= text_field_tag :q, "", class: "mr-sm-1" %>
        <%= submit_tag("Search", class: "btn btn-outline-success my-1 my-sm-0") %>
    <% end %>
</div>

<div id="form"></div>

<div id="showTweet"></div>

<table class="table">
    <thead class="table-light">
      <tr>
          <th scope="col">Id</th>
          <th scope="col">Title</th>
          <th scope="col">Content</th>
          <th scope="col" colspan="3"></th>
      </tr>
    </thead>
    <tbody id="posts">
        <% @posts.each do |post| %>
            <tr id="post-<%= post.id %>">
                <td><%= post.id %></td>
                <td><%= post.title %></td>
                <td><%= post.content %></td>
                <td><%= link_to post, remote: true, class: 'btn btn-success' do fa_icon "eye 2x" end %></td>
                <td><%= link_to edit_post_path(post), remote: true, class: 'btn btn-warning' do fa_icon "edit 2x" end %></td>
                <td><%= link_to post, method: :delete, remote: true, data: { confirm: "Are you sure to delete: #{post.title}?" }, class: 'btn btn-danger' do fa_icon "trash 2x" end %></td>
            </tr>
        <% end %>
    </tbody>
</table>

<div id="button">
    <%= link_to 'New post', new_post_path, class: 'btn btn-primary', remote: true %>
</div>