<tr id="post-<%= post.id %>">
    <td><%= post.id %></td>
    <td><%= post.title %> </td>
    <td><%= post.content %> </td>
    <td><%= link_to post, remote: true, class: 'btn btn-success' do fa_icon "eye 2x" end %></td>
    <td><%= link_to edit_post_path(post), remote: true, class: 'btn btn-warning' do fa_icon "edit 2x" end  %></td>
    <td><%= link_to post, method: :delete, remote: true, data: { confirm: "Are you sure to delete: #{post.title}?" }, class: 'btn btn-danger' do fa_icon "trash 2x" end %></td>
</tr>